.font{
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  font-size:medium;
}
.centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  